:root {
	--color_purple-dark: hsl(265, 11%, 22%);
	--color_purple: hsl(266, 11%, 25%);
	--color_purple-light: hsl(263, 11%, 32%);
}

body {
	background: url(images/bg.jpeg);
	font-family: sans-serif;
}

img {
	max-width: 100%;
}

button {
	background-image: none;
	cursor: pointer;
}

.btn {
	font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    border: 1px solid;
    border-radius: 2px;
    padding: 7px 18px 9px;
    overflow: hidden;
    transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}

.btn.btn-default {
    background-color: #15cbd2;
    border-color: #15cbd2;
    color: #ffffff;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 220;
	transition: .3s all;
}

.hidden {
	display: none;
}

.modal {
	width: 100%;
	max-width: 882px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 230; /* Должен быть выше чем у подложки*/
	box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
	transition: 0.3s all;
	color: #333333;
}

.modal__close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: -20px;
	right: -20px;
	fill: #ADADAD;
	cursor: pointer;
	transition: fill .3s;
}

.modal__close:hover,
.modal__close:focus {
	fill: #fff;
}


.discount-form {
	background-color: #ffffff;
	border-radius: 5px;
}

.discount-form__header {
	padding: 20px 32px;
	border-bottom: 1px solid #D9D9D9;
}

.discount-form__title {
	font-size: 16px;
}

.discount-form__title-icon {
	height: 24px;
	width: 24px;
	margin-right: 8px;
}

.discount-form__question-title {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 18px;
}

.discount-form__question {
	font-size: 28px;
}

.discount-form__step {
	display: none;
}

.discount-form__step.active {
	display: block;
}

.discount-form__body {
	padding: 15px 32px;
}

.discount-form__footer {
	padding: 15px 32px 32px;
}




.answers {
	display: grid;
	height:  340px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: #15CBD2 #D9D9D9;
	padding-right: 32px;
}

.answers::-webkit-scrollbar {
	width: 4px;
}

.answers::-webkit-scrollbar-track {
	background-color: #D9D9D9;
	border-radius: 2px;
}

.answers::-webkit-scrollbar-thumb {
	background: #15CBD2;
	border-radius: 2px;
}

.answers--images {
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.answers--variants {
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: max-content;
	gap: 12px;
}

.discount-form__feedback {
}

.answer-image {
	border-radius: 4px;
	background-color: #D9D9D9;
}

.answer-image__img-wrap {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
}

.answer-image__title {
	padding: 5px 10px;
	min-height: 50px;
	display: flex;
	align-items: center;
}

.discount-form__actions {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	margin-bottom: 20px;
}

.discount-form__steps-count {
	display: flex;
	gap: 20px;
}

.discount-form__step-count {
	height: 4px;
	flex-grow: 1;
	border-radius: 2px;
	background-color: #D9D9D9;
}

.discount-form__step-count.active {
	background-color: #15CBD2;
}

.discount-form__button {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 16px;
}

.discount-form__button-icon {
	height: 24px;
	width: 24px;
}

.answer-variant {
	border: 1px solid #D9D9D9;
	border-radius: 2px;
}

.feedback-form {
	display: grid;
	grid-template-columns: 5fr 3fr;
}

.feedback-form__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 80px;
}

.feedback-form__body {
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.feedback-form__label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	color: #3E3E3E;
	margin-bottom: 6px;
}

.feedback-form__input {
	width: 100%;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 16px;
	border: 1px solid #333333;
}

.feedback-form__button {
	font-size: 16px;
	width: 100%;
	height: 42px;
}

.open-discount-form {
	position: fixed;
	left: 20px;
	bottom: 20px;
	border: none;
	height: 40px;
	border-radius: 20px;
	background-color: #15CBD2;
	padding-left: 40px;
	padding-right: 40px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}




.control {
	display: block;
	position: relative;
	padding: 16px 16px 16px 50px;
	cursor: pointer;
	font-size: 18px;
}
.control--image {
	padding: 0;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 14px;
	left: 16px;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
}
.control--radio .control__indicator {
 	border-radius: 50%;
}
.control--image .control__indicator {
	top: unset;
	left: unset;
	bottom: 14px;
  	right: 16px;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  	background: #ccc;
}
.control input:checked ~ .control__indicator {
  	background: #15CBD2;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  	background: #15CBD2;
}
.control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}
.control__indicator:after {
	content: '';
	position: absolute;
	display: none;
}
.control input:checked ~ .control__indicator:after {
  	display: block;
}
.control--radio .control__indicator:after {
	left: 7px;
	top: 7px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  	background: #7b7b7b;
}