:root {
	--color_purple-dark: hsl(265, 11%, 22%);
	--color_purple: hsl(266, 11%, 25%);
	--color_purple-light: hsl(263, 11%, 32%);
}

body {
	background: url(bg.jpeg);
	font-family: sans-serif;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 220;
	transition: .3s all;
}

.modal {
	width: 100%;
	max-width: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 230; /* Должен быть выше чем у подложки*/
	box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
	transition: 0.3s all;
	color: #ADADAD;
}

.modal__close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: -20px;
	right: -20px;
	fill: #ADADAD;
	cursor: pointer;
}


.discount-form {
	background-color: #37323E;
	border-radius: 5px;
}

.discount-form__header {
	padding: 20px 40px;
	border-bottom: 1px solid #50495B;
}

.discount-form__title {
	font-size: 16px;
}

.discount-form__title-icon {
	height: 24px;
	width: 24px;
	margin-right: 8px;
}

.discount-form__body {
	padding: 15px 40px;
}

.discount-form__footer {
	padding: 15px 40px;
}